.content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
  font-size: 95px;
  width: 50%;
  text-align: center;
}
.subtitle {
  font-size: 25px;
  padding-top: 10px;
}
.intro-text {
  width: 100%;
  text-align: center;
}
.main-container {
  min-height: 87vh;
  display: flex;
  align-items: center;
  background-image: url("../../background1.jpg");
  background-position: center;
  background-size: cover;
}
.buttonContainer {
  margin-top: 50px;
  display: flex;
  border: 1px solid red;
  justify-content: space-evenly;
}

.landingButton {
  width: 200px;
  height: 55px;
  margin: auto;
}

